# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.name
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/untitled.iml
.idea/workspace.xml
asteriskConfigGenerator/
